/* DetalleProducto.css */

.detalle-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.detalle-producto h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detalle-producto p {
    font-size: 16px;
}

.detalle-producto img {
    width: 100%;
    max-width: 300px;
    /* Ajusta el ancho máximo de la imagen según tus preferencias */
    height: auto;
    margin-top: 10px;
}

/* Estiliza las imágenes adicionales */
.detalle-producto .imagen-adicional {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.detalle-producto .imagen-adicional img {
    width: calc(33.33% - 10px);
    /* Divide el espacio en tres columnas y agrega margen entre ellas */
    max-width: 100%;
    height: auto;
}